@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
}

body {
  font-family: Permanent Marker, serif;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}
